#base {
    width: 80%;
    background-color: aquamarine;
}

h1 {
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-size: 40pt;
} 

p {
    font-family:'Arial';
    font-size: 20pt;
    margin-left: 36px;
    margin-right: 36px;
}

#obrazek {
    width: 800px;
}

#div_obraz {
    text-align: center;
}
